@namespace UserManagement.UI.Components
@using UserManagement.UI.Dtos
@using UserManagement.UI.Exceptions
@using UserManagement.UI.Services
@if (IsVisible && User != null)
{
    <div class="modal show d-block" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                </div>
                <div class="modal-body">
                    @if (!string.IsNullOrEmpty(ErrorMessage))
                    {
                        <div class="alert alert-danger">@ErrorMessage</div>
                    }

                    <p>Are you sure you want to delete <strong>@User.Forename @User.Surname</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" @onclick="DeleteUser" disabled="@IsDeleting">Delete</button>
                    <button class="btn btn-secondary" @onclick="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public UserDto? User { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<UserDto> OnDeleted { get; set; }
    [Inject] public IUserApiService UserService { get; set; } = default!;
    private string ErrorMessage = "";

    //Introducing this IsDeleting bool, so we cant accidentally multi click and encounter issues.
    private bool IsDeleting = false;

    private async Task DeleteUser()
    {
        if (IsDeleting) return;
        IsDeleting = true;
        ErrorMessage = "";

        try
        {
            await UserService.SoftDeleteUserAsync(User!.Id);
            await OnDeleted.InvokeAsync(User);
            await Close();
        }
        catch (UserApiException ex)
        {
            if (ex.StatusCode == 404)
                ErrorMessage = "This user has already been deleted or no longer exists.";
            else if (ex.StatusCode == 400)
                ErrorMessage = "Invalid request. Please refresh and try again.";
            else
                ErrorMessage = "Unexpected server error. Please try again.";
        }
        catch (Exception)
        {
            ErrorMessage = "Unexpected error occurred. Please try again.";
        }
        finally
        {
            IsDeleting = false;
        }
    }
    private async Task Close()
    {
        ErrorMessage = "";
        await OnClose.InvokeAsync();
    }
}