@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row d-flex align-items-center justify-content-center gap-5 px-4 py-3 border-bottom">
            <a href="/" class="nav-link-header">User List</a>
            <a href="/audits" class="nav-link-header">User History</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>