@page "/audits"
@using UserManagement.UI.Dtos
@using UserManagement.UI.Services
@using UserManagement.UI.Components

@inject IUserAuditApiService UserAuditService

<h3>User Audits</h3>

@if (loading)
{
    <p>Loading audits...</p>
}
else if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
else if (audits?.Any() != true)
{
    <p>No audits found.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Audit Id</th>
                <th>Affected User Id</th>
                <th>Logged At</th>
                <th>User Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var audit in audits!)
            {
                <UserAuditRow AuditDto="audit" OnViewAudit="ShowAuditModal" />
            }
        </tbody>
    </table>

    <Paginator CurrentPage="CurrentPage" TotalPages="TotalPages" OnPageChanged="HandlePageChanged" />
}

@if (ShowAuditView)
{
    <ViewAuditForm Audit="SelectedAuditDto" OnCloseAudit="CloseAuditModal" />
}

@code {
    private List<UserAuditDto> audits = new();
    private UserAuditDto? SelectedAuditDto;

    private bool loading = true;
    private bool ShowAuditView = false;
    private string? errorMessage;
    private int CurrentPage = 1;
    private readonly int PageSize = 10;
    private int TotalPages => TotalCount > 0
    ? (int)Math.Ceiling((double)TotalCount / PageSize)
    : 1;
    private int TotalCount = 0;


    protected override async Task OnInitializedAsync()
    {
        await LoadAudits();
    }

    private async Task LoadAudits()
    {
        loading = true;
        errorMessage = null;

        try
        {
            var result = await UserAuditService.GetAllAuditsAsync(page: CurrentPage, pageSize: PageSize);
            audits = result.Items.ToList();
            TotalCount = result.TotalCount;
        }
        catch (Exception ex)
        {
            errorMessage = "Error loading audits: " + ex.Message;
        }
        finally
        {
            loading = false;
        }

    }

    private async Task HandlePageChanged(int newPage)
    {
        CurrentPage = newPage;
        await LoadAudits();
    }

    private void ShowAuditModal(UserAuditDto auditDto)
    {
        SelectedAuditDto = auditDto;
        ShowAuditView = true;
    }

    private void CloseAuditModal()
    {
        ShowAuditView = false;
        SelectedAuditDto = null;

    }

}