@page "/audits"
@using UserManagement.UI.Dtos
@using UserManagement.UI.Services
@using UserManagement.UI.Components

@inject IUserAuditApiService UserAuditService

<h3>User Audits</h3>

@if (loading)
{
    <p>Loading audits...</p>
}
else if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
else if (audits?.Any() != true)
{
    <p>No audits found.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Audit Id</th>
                <th>Affected User Id</th>
                <th>Logged At</th>
                <th>User Action</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var audit in audits!)
            {
                <UserAuditRow AuditDto="audit" OnViewAudit="ShowAuditModal" />
            }
        </tbody>
    </table>


}
<ViewAuditForm IsVisible="ShowAuditView" Audit="SelectedAuditDto" OnCloseAudit="CloseAuditModal" />


@code {
    private List<UserAuditDto> audits = new();
    private UserAuditDto? SelectedAuditDto;

    private bool loading = true;
    private bool ShowAuditView = false;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        errorMessage = null;

        try
        {
            var result = await UserAuditService.GetAllAuditsAsync(page: 1, pageSize: 20);
            audits = result.Items.ToList();
        }
        catch (Exception ex)
        {
            errorMessage = "Error loading audits: " + ex.Message;
        }
        finally
        {
            loading = false;
        }
    }

    private void ShowAuditModal(UserAuditDto auditDto)
    {
        SelectedAuditDto = auditDto;
        ShowAuditView = true;
    }

    private void CloseAuditModal()
    {
        ShowAuditView = false;
        SelectedAuditDto = null;

    }

}