@page "/"

<PageTitle>UMS List Users</PageTitle>

@using UserManagement.UI.Dtos
@using UserManagement.UI.Services
@using UserManagement.UI.Components
@inject UserApiService UserService

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else if (!users.Any())
{
    <p>No users found.</p>
}
else
{
    <button class="btn btn-sm btn-success mb-3" @onclick="ShowCreateUserModal">Add User</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in users)
            {
                <UserRow User="user" OnView="ShowUserViewModal" OnDelete="ShowUserDeleteModal" OnEdit="ShowUserEditModal" />
            }
        </tbody>
    </table>
}

<ViewUserForm IsVisible="isViewUserFormVisible" User="selectedViewUser" OnClose="CloseViewModal" />
<DeleteUserForm IsVisible="isDeleteUserFormVisible" User="selectedDeleteUser" OnClose="CloseDeleteModal"
    OnDeleted="HandleUserDeleted" />
<EditUserForm IsVisible="isEditUserFormVisible" User="selectedEditUser" OnClose="CloseEditModal"
    OnUpdated="HandleUserUpdated" />
<CreateUserForm IsVisible="isCreateUserFormVisible" OnClose="CloseCreateUserModal" OnCreated="HandleUserCreated" />

@code {
    //Essentially whether modals are shown is triggered by buttons you click on. When their operations are complete,
    //i.e. closed or Created or Updated... or Deleted -> call functions in this UI page to refresh / update view.
    private List<UserDto>? users;

    private bool isViewUserFormVisible = false;
    private bool isDeleteUserFormVisible = false;
    private bool isEditUserFormVisible = false;
    private bool isCreateUserFormVisible = false;


    private UserDto? selectedViewUser;
    private UserDto? selectedDeleteUser;
    private UserDto? selectedEditUser;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAllAsync();
    }

    private void ShowUserViewModal(UserDto user)
    {
        selectedViewUser = user;
        isViewUserFormVisible = true;
    }

    private void CloseViewModal()
    {
        isViewUserFormVisible = false;
        selectedViewUser = null;
    }

    private void ShowUserDeleteModal(UserDto user)
    {
        selectedDeleteUser = user;
        isDeleteUserFormVisible = true;
    }

    private void CloseDeleteModal()
    {
        isDeleteUserFormVisible = false;
        selectedDeleteUser = null;
    }
    private void HandleUserDeleted(UserDto deleted)
    {
        users!.RemoveAll(u => u.Id == deleted.Id);
        CloseDeleteModal();
    }
    private void ShowUserEditModal(UserDto user)
    {
        selectedEditUser = user;
        isEditUserFormVisible = true;
    }

    private void CloseEditModal()
    {
        isEditUserFormVisible = false;
        selectedEditUser = null;
    }

    private void HandleUserUpdated(UserDto updated)
    {
        var index = users!.FindIndex(u => u.Id == updated.Id);
        if (index >= 0) users[index] = updated;
        CloseEditModal();
    }

    private void ShowCreateUserModal()
    {
        isCreateUserFormVisible = true;
    }

    private void CloseCreateUserModal()
    {
        isCreateUserFormVisible = false;
    }

    private void HandleUserCreated(UserDto newUser)
    {
        users ??= new List<UserDto>();
        users.Add(newUser);
        CloseCreateUserModal();
    }
}