@page "/"

<PageTitle>UMS List Users</PageTitle>

@using UserManagement.UI.Dtos
@using UserManagement.UI.Services
@using UserManagement.UI.Components
@inject UserApiService UserService

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else if (!users.Any())
{
    <p>No users found.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in users)
            {
                <UserRow User="user" OnView="ShowUserModal" />
            }
        </tbody>
    </table>
}

<ViewUserForm IsVisible="isViewUserFormVisible" User="selectedUser" OnClose="CloseModal" />

@code {
    private List<UserDto>? users;

    private bool isViewUserFormVisible = false;
    private UserDto? selectedUser;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAllAsync();
    }

    private void ShowUserModal(UserDto user)
    {
        selectedUser = user;
        isViewUserFormVisible = true;
    }

    private void CloseModal()
    {
        isViewUserFormVisible = false;
        selectedUser = null;
    }
}